{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSameLine": false,
  "endOfLine": "crlf"
}
